.nav {
  display: flex;
  justify-content: space-between;
  max-width: 20%;
  border-bottom: 2px solid #010101;
}

.nav__el {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 8px 16px;
  transition: all 1s ease-out;
  cursor: pointer;
}

.nav__el_active {
  color: white;
  background: #010101;
}

.nav__el:hover {
  color: #02d7f2;
}

.nav__el_invisible {
  display: none;
}
