.currentPage {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 2px solid #010101;
}
