.searchbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 25%;
  padding: 10px;
  background: #001417;
  border: 2px solid #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: all 1s ease-out;
}

.searchbar:focus {
  background: #002a30;
  border: 2px solid #02d7f2;
}
