.card {
  display: inline-block;
  border: 30px solid;
  border-image: url('../../../assets/card-frame.svg');
  border-image-slice: 30;
  margin-bottom: 5em;
  width: auto;
  background: #02d7f2;
}

.card__decoration {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.card__arrow {
  display: block;
  width: 15%;
  height: 2px;
  background: #010101;
}

.card__date {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.card__title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6em;
  line-height: 31px;
  color: #010101;
  margin-bottom: 10px;
}

.card__information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__datapiece {
  display: block;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  font-size: 1.2em;
}

.card__property {
  font-size: 20px;
  color: white;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
