.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}

@media (max-width: 1700px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1198px) {
  .container {
    max-width: 600px;
    justify-content: center;
  }
}
